{% extends '::base.html.twig' %}
{% block title %}IMDB Top 10 Movies - powered by Spotify{% endblock %}
{% block content %}
<section class="movies">
    <h1>IMDB Top 10 Movies</h1>
    <div class="filters">
      <span>Filter by Decade</span>
      <select onchange="window.location.href=this.value">
        <option value="{{ path('imdb_toplist') }}">
            {% if year_start and not current_decade %}
                ---->
            {% else %}
                All Times
            {% endif %}
        </option>
        {% for option in decades %}
        <option{% if option.decade == current_decade %} selected="selected"{% endif %} value="{{ path('imdb_toplist', {'year': option.decade}) }}">{{ option.decade }}</option>
        {% endfor %}
      </select>
      //
      <span>Filter by Year</span>
      <form id="filter-range" action="#" data-action="{{ path('imdb_toplist') }}">
        <input type="number" name="start" placeholder="Start Year" value="{{ year_start }}" />
        -
        <input type="number" name="end" placeholder="End Year (optional)" value="{{ year_end }}" />
        <input type="submit" value="go" />
      </form>
      {% if year_start %}
      // <a href="{{ path('imdb_toplist') }}">Reset filters</a>
      {% endif %}
    </div>
    <table class="list">
        <thead>
            <tr>
                <th></th>
                <th>Rank</th>
                <th>Title</th>
                <th>Year</th>
                <th>Rating</th>
                <th>Votes</th>
            </tr>
        </thead>
        <tbody>
            {% for rank, movie in movies %}
            <tr>
              <td>
                {% if movie.imageSmall %}
                <img src="{{ movie.imageSmall }}" />
                {% endif %}
              </td>
              <td>{{ rank + 1 }}.</td>
              <td>
                <a href="{{ path('imdb_movie', {'id': movie.id }) }}">
                  {{ movie.title }}
                </a>
              </td>
              <td>{{ movie.year }}</td>
              <td>{{ movie.rating }}</td>
              <td>{{ movie.votes }}</td>
            </tr>
            {% else %}
            <tr><td colspan="6">There are no results</td></tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6"></td>
            </tr>
        </tfoot>
    </table>
</section>
{% endblock %}